<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Girls Short Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of videoData">
        <ion-card (click)="goVideoSlides(item.videos)" class="ion-no-margin costum_card">
          <ion-card-content style="padding: 8px;">
            <div class="ion-text-center">
              <!-- <ion-icon *ngIf="item.icon" [name]="item.icon" color="tertiary" style="font-size: 45px;"></ion-icon> -->
              <ion-img *ngIf="item.icon" [src]="item.icon" color="tertiary" style="font-size: 45px;"></ion-img>
              <h2 style="color: #1badf1;font-weight: bold;margin-top: 16px;">{{item.name}}</h2>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>